@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#logo-bar {
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    margin-top: 16px;
    margin-left: 5px;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-bar {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
}

.nav-container {
    display: flex;
    gap: 24px;
}

.hdr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin: 30px 190px 60px; */
    margin-top: 50px;
}

.btn-pramary {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 10px;
    width: 197px;
    height: 50px;
    color: rgb(255, 255, 255);
    border: none;
}

.btn {
    margin-left: 140px;
}

.nav-bar1 {
    color: rgb(254, 163, 1);
}

.nav-bar2 {
    color: rgb(1, 172, 253);
}

.nav-bar3 {
    color: rgb(5, 212, 223);
}

.nav-bar4 {
    color: rgb(93, 88, 239);
}


.banner {
    /* margin: 40px 100px 60px; */

}

.banner-container {
    display: flex;
    gap: 50px;
    margin: 40px 100px 60px;
    max-width: 1160px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.banner-head {
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
}

.banner-txt {
    /* max-width: 640px; */
}

.banner-img {
    /* max-width: 460px; */
    padding: 40px;
}

.head1 {
    color: rgb(254, 163, 1);
}

.btn2 {
    background-color: rgb(17, 17, 17);
}

.head3 {
    color: rgb(1, 172, 253);
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.card-head {
    text-align: center;
    padding: 60px 0px 60px 0px;
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
}

.card1 {
    padding: 65px;
    text-align: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-link {
    text-decoration: none;
    color: rgb(100, 200, 255);
}

.card2 {
    padding: 65px;
    text-align: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-link1 {
    text-decoration: none;
    color: rgb(240, 170, 0);
}

.card3 {
    padding: 65px;
    text-align: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-link2 {
    text-decoration: none;
    color: rgb(135, 0, 255);
}

.curriculam {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0, auto;
    gap: 24px;
}

h2 {
    margin-top: 50px;
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24.52px;
    font-weight: 700;
}

.ball {
    border: 2px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
    position: relative;
    left: 515px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
}

p {
    color: rgb(102, 102, 102);
    /* font-family: Raleway; */
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
}

.btn-secondary {
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    width: 174.51px;
    height: 47.93px;
    left: 38.35px;
    top: 314.14px;
    border: none;
}

.margin1 {
    margin-top: -300px;
    margin-left: 50px;
}

.margin {
    margin-left: -270px;
}

.picture {
    border-radius: 16px;
    background: rgb(255, 255, 255);

}

.story-pic {
    display: flex;
    gap: 20px;
    padding: 80px 90px;
}

.border {
    border-radius: 16px 16px 0px 0px;
}

.picture>img {
    /* position: relative; */
}

.size-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.story {
    background: url(), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    padding: 60px 0px 60px 0px;
}

.feild {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
}

.story-head {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
}
.buton{
    margin-left: 630px;
}
h2{
    padding: 30px 62px 33px 37px;
}
@media screen and (max-width: 576px) {
    .banner-container {
        flex-direction: column-reverse;
    }
    .banner-img {
        justify-content: center;
        align-items: center;
    }
    .hdr {
        border-bottom: 2px solid orange;
        width: 510px;
    }
    .banner-txt {
        /* margin-left: 300px; */
        text-align: center;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
    }

    .curriculam {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* width: 100%; */
    }

    section {
        margin: 30px 60px;
        width: 100%;
    }

    .nav-container,
    .btn {
        display: none;
    }

    #logo-bar {
        display: none;
    }

    .card-head {
        font-size: 26px;
    }

    .feild {
        display: none;
    }

    .hdr {
        margin: 0, auto;
    }
}