@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
#logo-bar {
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    margin-top: 16px;
    margin-left: 5px;
}

.nav-bar {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
}

.nav-container {
    display: flex;
    gap: 24px;
}

.hdr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center;
    align-items: center; */
    margin: 30px 190px 60px;
}

.btn-pramary {
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 10px;
    width: 197px;
    height: 50px;
    color: rgb(255, 255, 255);
    border: none;
}

.btn {
    margin-left: 140px;
}

.nav-bar1 {
    color: rgb(254, 163, 1);
}

.nav-bar2 {
    color: rgb(1, 172, 253);
}

.nav-bar3 {
    color: rgb(5, 212, 223);
}

.nav-bar4 {
    color: rgb(93, 88, 239);
}

.banner {
    margin: 40px 100px 60px;
}

.banner-container {
    display: flex;
    gap: 40px;
    margin: 40px 100px 60px;
    justify-content: center;
    align-items: center;
}

.banner-text {}

.banner-head {
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
}
.head1{
   color: rgb(254, 163, 1);
}
.btn2{
   background-color: rgb(17, 17, 17);
}
.head3{
   color: rgb(1, 172, 253);
}
main{
    max-width: 1600px;
    margin: 0 auto;
}
@media screen and (max-width: 576px){
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .banner-txt{
        /* justify-content: center;
        align-items: center; */
        margin-left: 500px;
        text-align: center;
    }
    /* .hdr{
        position: relative;
    } */
}